<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird1.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,2},{184,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,156}}</string>
                <key>sourceSize</key>
                <string>{184,156}</string>
            </dict>
            <key>bird2.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,475},{112,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,149}}</string>
                <key>sourceSize</key>
                <string>{112,149}</string>
            </dict>
            <key>buttergfly.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{302,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,183}}</string>
                <key>sourceSize</key>
                <string>{302,183}</string>
            </dict>
            <key>can-eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,937},{22,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,49}}</string>
                <key>sourceSize</key>
                <string>{22,49}</string>
            </dict>
            <key>can-eye1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,937},{22,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,49}}</string>
                <key>sourceSize</key>
                <string>{22,49}</string>
            </dict>
            <key>can-mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,965},{65,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,26}}</string>
                <key>sourceSize</key>
                <string>{65,26}</string>
            </dict>
            <key>can.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,475},{146,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,192}}</string>
                <key>sourceSize</key>
                <string>{146,192}</string>
            </dict>
            <key>fish.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,937},{71,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,26}}</string>
                <key>sourceSize</key>
                <string>{71,26}</string>
            </dict>
            <key>p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,626},{104,284}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{104,284}}</string>
                <key>sourceSize</key>
                <string>{142,320}</string>
            </dict>
            <key>p1_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,160},{150,282}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,13},{150,282}}</string>
                <key>sourceSize</key>
                <string>{226,316}</string>
            </dict>
            <key>p2.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,669},{110,324}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{110,324}}</string>
                <key>sourceSize</key>
                <string>{176,354}</string>
            </dict>
            <key>p2_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,557},{324,378}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{324,378}}</string>
                <key>sourceSize</key>
                <string>{362,392}</string>
            </dict>
            <key>p3.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,557},{150,364}}</string>
                <key>offset</key>
                <string>{13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,28},{150,364}}</string>
                <key>sourceSize</key>
                <string>{194,406}</string>
            </dict>
            <key>p3_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,557},{236,356}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,31},{236,356}}</string>
                <key>sourceSize</key>
                <string>{282,398}</string>
            </dict>
            <key>stean-eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            <key>stean-eye1.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,988},{24,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,29}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            <key>stean-mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,993},{56,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,22}}</string>
                <key>sourceSize</key>
                <string>{56,22}</string>
            </dict>
            <key>stean-mouth1.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,993},{56,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,22}}</string>
                <key>sourceSize</key>
                <string>{56,22}</string>
            </dict>
            <key>stean.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,187},{272,286}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,14},{272,286}}</string>
                <key>sourceSize</key>
                <string>{330,314}</string>
            </dict>
            <key>treee.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{509,553}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,553}}</string>
                <key>sourceSize</key>
                <string>{509,553}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>story.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:096a37b6fb71a10c6d56c04244af7b0d$</string>
            <key>textureFileName</key>
            <string>story.png</string>
        </dict>
    </dict>
</plist>
